.div-product-details {
    width: 48%;
    border-style: groove;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}


.div-product-details form input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .div-product-details form button[type=submit] {
    background-color:rgb(21, 185, 214);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .div-product-details form button[type=submit]:hover {
    background-color: rgb(14, 118, 136);
  }
  
  .product-details-textarea {
      height: 200px;
  }